<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Books</title>

 <script>

 const detail = (id) => {

 window.open('http://localhost:3000/book/detail?id='+id);

 };

 </script>
  </head>
  <body>
    <h3>List books</h3><% for (const book of books) { %>
    <p>Name: <%= book.name %> </p>
    <p>Price: <%= book.price %> </p>
    <p>Quantity: <%= book.quantity %> </p>
    <p>Author: <%= book.author %> </p>
    <button onclick="detail('<%= book.id %>')">Detail</button>

    </br><% } %>

  </body>
</html>